div(ng-controller='ChartsSidebarCtrl as sidebar')
  legend Graphs
  select#chooseGraph.form-control(
    value="Choose a graph"
    ng-change="sidebar.updateSidebarControls()"
    ng-model="sidebar.selectedGraph"
    ng-options="g as g.name for g in sidebar.graphs"
    ng-init="sidebar.selectedGraph = sidebar.graphs[0]"
  )
  fieldset
    legend Variables
    div.form-inline
      div.form-horizontal(ng-show="sidebar.selectedGraph.x")
        label(for = "x") {{sidebar.selectedGraph.xLabel}} &nbsp;
        select#x.form-control(
          ng-change="sidebar.updateDataPoints()"
          ng-model="sidebar.xCol"
          ng-options="col for col in sidebar.xCols"
          ng-init="sidebar.xCol = sidebar.xCols[0]"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.y")
        label(for = "y") {{sidebar.selectedGraph.yLabel}} &nbsp;
        select#y.form-control(
          ng-change="sidebar.updateDataPoints()"
          ng-model="sidebar.yCol"
          ng-options="col for col in sidebar.yCols"
          ng-init="sidebar.yCol = sidebar.yCols[0]"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.z")
        label(for = "z") {{sidebar.selectedGraph.zLabel}} &nbsp;
        select#z.form-control(
          ng-change="sidebar.updateDataPoints()"
          ng-model="sidebar.zCol"
          ng-options="col for col in sidebar.zCols"
          ng-init="sidebar.zCol = sidebar.zCols[0]"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.r")
        label(for = "r") {{sidebar.selectedGraph.rLabel}} &nbsp;
        select#r.form-control(
        ng-change="sidebar.updateDataPoints()"
        ng-model="sidebar.rCol"
        ng-options="col for col in sidebar.rCols"
        ng-init="sidebar.rCol = sidebar.rCols[0]"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.xbin")
        label(for = "xbin") {{sidebar.selectedGraph.xbinLabel}} &nbsp;
        input#xbin.form-control(
        type="text"
        ng-model="sidebar.flags.BinnedHeatmap.xBin"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.ybin")
        label(for = "ybin") {{sidebar.selectedGraph.ybinLabel}} &nbsp;
        input#ybin.form-control(
        type="text"
        ng-model="sidebar.flags.BinnedHeatmap.yBin"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.threshold")
        label(for = "threshold") {{sidebar.selectedGraph.thresholdLabel}} &nbsp;
        input#threshold.form-control(
        type="text"
        ng-model="sidebar.flags.BarChart.threshold"
        )
      div.form-horizontal.bootstrap-switch-square(ng-show="sidebar.selectedGraph.name == 'Bar Graph'")
        label
          span.glyphicon.glyphicon-question-sign(
          aria-hidden="true"
          uib-tooltip="toggle horizontal chart"
          tooltip-placement="right"
          ) &nbsp;
          | Toggle Horizontal Graph &nbsp;
        input(
        bs-switch
        type="checkbox"
        data-toggle="switch"
        id="toggleHorizontalBarGraph"
        ng-model="sidebar.flags.BarChart.Horizontal"
        )
      div.form-horizontal.bootstrap-switch-square(ng-show="sidebar.selectedGraph.name == 'Bar Graph'")
        label
          span.glyphicon.glyphicon-question-sign(
          aria-hidden="true"
          uib-tooltip="toggle stacked chart"
          tooltip-placement="right"
          ) &nbsp;
          | Toggle Stacked Bar Graph &nbsp;
        input(
        bs-switch
        type="checkbox"
        data-toggle="switch"
        id="toggleStackedBarGraph"
        ng-model="sidebar.flags.BarChart.Stacked"
        )
      div.form-horizontal.bootstrap-switch-square(ng-show="sidebar.selectedGraph.name == 'Bar Graph' && sidebar.flags.BarChart.Stacked == true && sidebar.zCol && sidebar.zCol != 'None'")
        label
          span.glyphicon.glyphicon-question-sign(
          aria-hidden="true"
          uib-tooltip="toggle stacked chart"
          tooltip-placement="right"
          ) &nbsp;
          | Toggle Normalized Stacked Bar Graph &nbsp
        input(
        bs-switch
        type="checkbox"
        data-toggle="switch"
        id="toggleNormalizedStackedBarGraph"
        ng-model="sidebar.flags.BarChart.Normalized"
        )
      div.form-horizontal.bootstrap-switch-square(ng-show="sidebar.selectedGraph.name == 'Scatter Plot'")
        label
          span.glyphicon.glyphicon-question-sign(
          aria-hidden="true"
          uib-tooltip="Toggle standard deviation"
          tooltip-placement="right"
          ) &nbsp;
          | Toggle Standard Deviation &nbsp;
        input(
        bs-switch
        type="checkbox"
        data-toggle="switch"
        id="toggleScatterStdev"
        ng-model="sidebar.flags.ScatterPlot.showSTDEV"
        )
      div.form-horizontal.bootstrap-switch-square(ng-show="sidebar.selectedGraph.name == 'Scatter Plot'")
        label
          span.glyphicon.glyphicon-question-sign(
          aria-hidden="true"
          uib-tooltip="Toggle standard deviation"
          tooltip-placement="right"
          ) &nbsp;
          | Toggle Binned &nbsp;
        input(
        bs-switch
        type="checkbox"
        data-toggle="switch"
        id="toggleScatterBinned"
        ng-model="sidebar.flags.ScatterPlot.binned"
        )
      div.form-horizontal.bootstrap-switch-square(ng-show="sidebar.selectedGraph.name == 'Binned Heatmap'")
        label
          span.glyphicon.glyphicon-question-sign(
          aria-hidden="true"
          uib-tooltip="Toggle marginal histograms"
          tooltip-placement="right"
          ) &nbsp;
          | Toggle Marginal Histograms &nbsp;
        input(
        bs-switch
        type="checkbox"
        data-toggle="switch"
        id="toggleMarginalHistogram"
        ng-model="sidebar.flags.BinnedHeatmap.marginalHistogram"
        )
    div(ng-show="!sidebar.selectedGraph.x")
      select.form-control(
      multiple
      ng-model="sidebar.chosenCols"
      ng-options="col for col in sidebar.numericalCols"
      ng-change="sidebar.updateDataPoints(sidebar.dataFrame)"
      )
    div.form-group(ng-show="!sidebar.selectedGraph.x")
      label Labels column &nbsp;
      //- show data header column names
      select.form-control(
      ng-model="sidebar.labelCol"
      ng-options="col for col in sidebar.categoricalCols"
      ng-change="sidebar.updateDataPoints(sidebar.dataFrame)"
      ng-init="sidebar.labelCol = null"
      )
        option(value="") No labels
