div(ng-controller='ChartsSidebarCtrl as sidebar')
  legend Graphs
  select#chooseGraph.form-control(
    value="Choose a graph"
    ng-change="sidebar.updateSidebarControls()"
    ng-model="sidebar.selectedGraph"
    ng-options="g as g.name for g in sidebar.graphs"
    ng-init="sidebar.selectedGraph = sidebar.graphs[0]"
  )
  fieldset
    legend Variables
    div.form-inline
      div.form-horizontal(ng-show="sidebar.selectedGraph.config.vars.x")
        label(for = "x") {{sidebar.selectedGraph.config.vars.xLabel}} &nbsp;
        select#x.form-control(
          ng-change="sidebar.updateDataPoints()"
          ng-model="sidebar.xCol"
          ng-options="col for col in sidebar.xCols"
          ng-init="sidebar.xCol = sidebar.xCols[0]"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.config.vars.y")
        label(for = "y") {{sidebar.selectedGraph.config.vars.yLabel}} &nbsp;
        select#y.form-control(
          ng-change="sidebar.updateDataPoints()"
          ng-model="sidebar.yCol"
          ng-options="col for col in sidebar.yCols"
          ng-init="sidebar.yCol = sidebar.yCols[0]"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.config.vars.z")
        label(for = "z") {{sidebar.selectedGraph.config.vars.zLabel}} &nbsp;
        select#z.form-control(
          ng-change="sidebar.updateDataPoints()"
          ng-model="sidebar.zCol"
          ng-options="col for col in sidebar.zCols"
          ng-init="sidebar.zCol = sidebar.zCols[0]"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.config.vars.r")
        label(for = "r") {{sidebar.selectedGraph.config.vars.rLabel}} &nbsp;
        select#r.form-control(
        ng-change="sidebar.updateDataPoints()"
        ng-model="sidebar.rCol"
        ng-options="col for col in sidebar.rCols"
        ng-init="sidebar.rCol = sidebar.rCols[0]"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.config.vars.threshold")
        label(for = "threshold") {{sidebar.selectedGraph.config.vars.tLabel}} &nbsp;
        input#threshold.form-control(
        type="text"
        ng-model="sidebar.chartParams.flags.threshold"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.config.vars.text != null")
        label(for = "text") {{sidebar.selectedGraph.config.vars.textLabel}} &nbsp;
        textarea#text.form-control(
        ng-model="sidebar.chartParams.flags.text"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.config.vars.startAngle != null")
        label(for = "startAngle") {{sidebar.selectedGraph.config.vars.startLabel}} &nbsp;
        input#startAngle.form-control(
        type="text"
        ng-model="sidebar.chartParams.flags.startAngle"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.config.vars.endAngle != null")
        label(for = "endAngle") {{sidebar.selectedGraph.config.vars.endLabel}} &nbsp;
        input#endAngle.form-control(
        type="text"
        ng-model="sidebar.chartParams.flags.endAngle"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.config.vars.orientations != null")
        label(for = "orientations") {{sidebar.selectedGraph.config.vars.orientationsLabel}} &nbsp;
        input#orientations.form-control(
        type="text"
        ng-model="sidebar.chartParams.flags.orientations"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.config.params.xBin != null")
        label(for = "xbin") {{sidebar.selectedGraph.config.params.xbinLabel}} &nbsp;
        input#xbin.form-control(
        type="text"
        ng-model="sidebar.chartParams.flags.xBin"
        )
      div.form-horizontal(ng-show="sidebar.selectedGraph.config.params.yBin != null")
        label(for = "ybin") {{sidebar.selectedGraph.config.params.ybinLabel}} &nbsp;
        input#ybin.form-control(
        type="text"
        ng-model="sidebar.chartParams.flags.yBin"
        )
      // repeated switch for each parameter
      div.form-horizontal.bootstrap-switch-square(ng-repeat="(param,val) in sidebar.selectedGraph.config.params track by $index"
        ng-show="val != null")
        label
          span.glyphicon.glyphicon-question-sign(
          aria-hidden="true"
          uib-tooltip="toggle {{param}}"
          tooltip-placement="right"
          ) &nbsp;
          | Toggle {{param}} &nbsp;
        input(
        bs-switch
        type="checkbox"
        data-toggle="switch"
        id= "{{param}}Switch"
        ng-model="sidebar.chartParams.flags[param]"
        )
    div(ng-show="sidebar.selectedGraph.name == 'Scatter Plot Matrix'")
      select.form-control(
      multiple
      ng-model="sidebar.chosenCols"
      ng-options="col for col in sidebar.numericalCols"
      ng-change="sidebar.updateDataPoints(sidebar.dataFrame)"
      )
    div.form-group(ng-show="sidebar.selectedGraph.name == 'Scatter Plot Matrix'")
      label Labels column &nbsp;
      //- show data header column names
      select.form-control(
      ng-model="sidebar.labelCol"
      ng-options="col for col in sidebar.categoricalCols"
      ng-change="sidebar.updateDataPoints(sidebar.dataFrame)"
      ng-init="sidebar.labelCol = null"
      )
        option(value="") No labels



