div(ng-controller='ChartsSidebarCtrl as sidebar')
  legend Graphs
  select#chooseGraph.form-control(
    value="Choose a graph"
    ng-change="sidebar.updateSidebarControls()"
    ng-model="sidebar.selectedGraph"
    ng-options="g as g.name for g in sidebar.graphs"
    ng-init="sidebar.selectedGraph = sidebar.graphs[0]"
  )
  legend Variables
  div.form-inline
    div.form-horizontal(ng-show="sidebar.selectedGraph.x")
      label(for = "x") X &nbsp;
      select#x.form-control(
        ng-change="sidebar.updateDataPoints()"
        ng-model="sidebar.xCol"
        ng-options="col for col in sidebar.xCols"
      )
    div.form-horizontal(ng-show="sidebar.selectedGraph.y")
      label(for = "y") Y &nbsp;
      select#y.form-control(
        ng-change="sidebar.updateDataPoints()"
        ng-model="sidebar.yCol"
        ng-options="col for col in sidebar.yCols"
      )
    div.form-horizontal(ng-show="sidebar.selectedGraph.z")
      label(for = "z") Z &nbsp;
      select#z.form-control(
        ng-change="sidebar.updateDataPoints()"
        ng-model="sidebar.zCol"
        ng-options="col for col in sidebar.zCols"
      )
    div.form-horizontal(ng-show="sidebar.selectedGraph.c")
      label(for = "c") Color &nbsp;
      select#c.form-control(
        ng-change="sidebar.updateDataPoints()"
        ng-model="sidebar.cCol"
        ng-options="col for col in sidebar.cCols"
      )
