// main navigation template
ul.nav.navbar-nav
  li(
  ng-repeat="item in app.menu"
  ng-class="(item.type === 'text') ? app.getClass(item.url) : ''"
  ng-attr-uib-dropdown="{{(item.type === 'group') ? True : False}}"
  ng-attr-auto-close="{{(item.type === 'group') ? 'outsideClick' : False}}"
  )
    a(
    ng-if="item.type === 'text'"
    ng-href="#{{item.url}}"
    ) {{item.name}}
    a(ng-if="item.type === 'group'", uib-dropdown-toggle, href="")
        | {{item.name}} &nbsp;
        span.caret
      ul.dropdown-menu(ng-if="item.type === 'group'", uib-dropdown-menu, role="menu")
        li(role="menuitem")
          form.form-inline
            div.form-group
              label(for="nav-tool-search").sr-only Search tools
              div.btn-group
                input#nav-tool-search(ng-model='query', type='text', placeholder='Search for...').form-control
                span#nav-clear-tool-search(ng-click="query=''").glyphicon.glyphicon-remove-circle
        li(ng-repeat="subitem in item.items | filter:query", ng-class="app.getClass(subitem.url)")
          a(ng-href='#{{subitem.url}}') {{subitem.name}}
