script(type='text/x-mathjax-config').
  MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: true
            },
            "HTML-CSS": { availableFonts: ["TeX"] }
        });
script(type='text/javascript', src='http://cdn.mathjax.org/mathjax/latest/MathJax.js')
div(ng-controller="powercalcMainCtrl as mainArea")
    div.lead.bd-danger(ng-show='mainArea.selectedAlgorithm == "Select"')
      h1 <b>Power Analysis Explanation</b>
      br
      h4 <b>CI for One Proportion</b>
      p <b><i> sample-size determination for estimating a proportion to within a specified margin of error, for either a finite population of specified size, or an infinite population </i></b>
      input(type='button' style='font-size:20px; margin-bottom:80px' value='CI for One Proportion' ng-click='mainArea.update_algo($event)')
      h4 <b>CI for One Mean</b>
      p <b><i>sample-size determination for estimating a proportion to within a specified margin of error, for either a finite population of specified size, or an infinite population </i></b>
      input(type='button' style='font-size:20px; margin-bottom:80px' value='CI for One Mean' ng-click='mainArea.update_algo($event)')
      h4 <b>Test of One Proportion</b>
      p <b><i>power analysis of a one-sample test of proportions. You have your choice of the normal approximation, the beta approximation (which is more accurate), or two exact calculations based on the binomial distribution.  In the latter cases, the size of the test (i.e., the probability of a type I error) is often much smaller than the stated significance level.</i></b>
      input(type='button' style='font-size:20px; margin-bottom:80px' value='Test of One Proportion' ng-click='mainArea.update_algo($event)')
      h4 <b>One-Sample (or Paired) t Test</b>
      p <b><i>This dialog provides for power analysis of a one-sample t test or a pooled t test.  The effect size is the difference between the null and the target mean (in the one-sample test), or the mean difference of the pairs (in the paired t test). </i></b>
      input(type='button' style='font-size:20px; margin-bottom:80px' value='One-Sample (or Paired) t Test' ng-click='mainArea.update_algo($event)')
      h4 <b>Pilot Study</b>
      p <b><i>This dialog provides rudimentary help for planning a pilot study for estimating an error SD (sigma).  If the pilot study is too small, the estimate could be way too small, causing us to seriously underestimate the required sample size (N) for the main study </i></b>
      h4 <b>R-square (multiple correlation)</b>
      p <b><i>This dialog provides rudimentary power analysis for a test of a coefficient of multiple determination (R-square). The underlying model is that we have a sample of N IID multivariate random vectors of length p, and that the p^{th} variable is regressed on the first p-1 variables. $ R^2 = 1 - \frac{SS(error)}{SS(total)} $ is the coefficient of multiple determination. </i></b>
      input(type='button' style='font-size:20px; margin-bottom:80px' value='R-square (multiple correlation)' ng-click='mainArea.update_algo($event)')
    div(ng-show='mainArea.selectedAlgorithm == "CI for One Proportion"')
      h3 CI for One Proportion
      p <i>This dialog provides sample-size determination for estimating a proportion to within a specified margin of error, for either a finite population of specified size, or an infinite population </i>
      div(style='width:100%;overflow:hidden;height:100%;')
        input(type='hidden', name='id', value='1')
        div
          div(style='line-height:10px;display:inline')
            input#isFinite(style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;', type='checkbox', name='isFinite', ng-click='mainArea.cfap_clk($event);')
            | Finite Population &nbsp &nbsp;
          div#showN(style='margin-left=40%;display:inline')
            | N: &nbsp
            input#N(type='text',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' size='10', name='N', ng-mouseleave='mainArea.cfap_valiad($event);')
            span#Nerror
        div(style='margin-top:10px;')
          div(style='display:inline')
            input#worstCase(type='checkbox',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' name='worstCase', ng-click='mainArea.cfap_clk($event);')
            | Worst case &nbsp &nbsp;
          div(style='display:inline')
            | pi: &nbsp;
            input#pi(type='text',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' size='10', name='pi', ng-mouseleave='mainArea.cfap_valiad($event);')
            span#pierror
        div(style='margin-top:20px;')
          div(style='display:inline')
            | Confidence Level: &nbsp
            input#conf(name='conf',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' value='0.95', ng-mouseleave="mainArea.cfap_presubmit('1','conf',$event);")
          div(style='display:inline')
            #slider(uib-tooltip="Manipulate this bar to adjust confidence level" tooltip-placement="top")
        div
          div(style='display:inline')
            | Margin of Error: &nbsp
            input#me(type='text', style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;', ng-mouseleave="mainArea.cfap_changeSlider('ME',$event);")
          div(style='display:inline')
            #meui(uib-tooltip="Manipulate this bar to adjust margin of error" tooltip-placement="top")
        div
          div(style='display:inline')
            | n : &nbsp
            input#n(type='text', style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;', ng-mouseleave="mainArea.cfap_changeSlider('n',$event);")
          div(style='display:inline')
            #nui(uib-tooltip="Manipulate this bar to adjust population" tooltip-placement="top")
        div
          input#cfapH(style='margin-bottom:10px;' type='button' value='Show Help' ng-click='mainArea.cfap_show_help();')
          div(ng-show='mainArea.cfap_help == true;')
            p The confidence interval is of the form p +/- ME, where p is the sample proportion and ME is the margin of error: 
            p $ ME = z * \sqrt{\frac{p*(1-p)}{(n-1)}} $  &nbsp;&nbsp;&nbsp; (infinite population)
            p $ ME = z * \sqrt{\frac{p*(1-p)}{(n-1)}} * \sqrt{1- \frac{n}{N}} $  &nbsp;&nbsp;&nbsp; (finite population)
            p where z is a critical value from the normal distribution, p is the sample proportion, n is the sample size, and N is the population size.
            br
            p <b>Using The Graphical Interface</b>
            p The dialog is designed such that a sample size n is computed whenever you change any of the other input values.  If you change n, a new ME is computed (using sigma in place of s in the above formulas).
            br
            p <b>Finite Population</b>
            p If "Finite population" is checked, calculations are based on the population size N entered in the adjacent input field. If the box is unchecked, the "N" field is hidden, and calculations are based on an infinite population.
            br 
            p <b>Worst Case</b>
            p If "Worst case" is checked, computations are based on the assumption that the true sample proportion, pi, is .5.  If it is not checked, then a pi value other than .5 may be entered in the field to the right of the checkbox.
            br
            p <b>Confidence</b>
            p Choose the desired confidence coefficient for the ME.  This determines the value of z.
            br
            p <b>Margin of Error</b>
            p Enter the target value of the margin of error here.  Note that the actual value achieved after you collect the data will be more or less than this amount, because it will be based on p (estimated from the data) rather than pi.
            br
            p <b>n</b>
            p Enter the sample size here if you want to see what margin of error is achieved with that size sample.  When you change n, it is rounded to the nearest integer; otherwise, n is not rounded
            br
            p <b>Graphics</b>
            p A simple graphics facility is available from the Options menu.  Enter the variables for the x and y axes, and the range of values for the x variable.  More information is available through the graphics dialog's help menu.
    div(ng-show='mainArea.selectedAlgorithm == "CI for One Mean"')
      h3 CI for One Mean
      p <i>This dialog provides for sample-size determination for estimating a mean to within a specified margin of error, for either a finite population of specified size, or an infinite population (or sampling with replacement)</i>
      div(style='width:100%;overflow:hidden;height:100%;')
        input(type='hidden', name='id', value='1')
        div
          div(style='line-height:10px;display:inline')
            input#isFinitea(style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;', type='checkbox', name='isFinite', ng-click='mainArea.cimean_clk($event);')
            | Finite Population &nbsp &nbsp;
          div#showNa(style='margin-left=40%;display:inline')
            | N: &nbsp
            input#NN(type='text',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' size='10', name='NN', ng-mouseleave="mainArea.cimean_presubmit('1','NN',$event);")
            span#Nerror
          div(style='margin-top:20px;')
            div(style='display:inline')
              | Confidence Level: &nbsp
              input#confa(name='conf',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' value='0.95', ng-mouseleave="mainArea.cimean_presubmit('1','conf',$event);")
            div(style='display:inline')
              #slidera_conf(uib-tooltip="Manipulate this bar to adjust confidence level" tooltip-placement="top")
          div(style='margin-top:20px;')
            div(style='display:inline')
              | Sigma: &nbsp
              input#sgn(name='sigma',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' value='0.95', ng-mouseleave="mainArea.cimean_changeSlider('sgn',$event);")
            div(style='display:inline')
              #sgnui(uib-tooltip="Manipulate this bar to adjust Sigma" tooltip-placement="top")
          div(style='margin-top:20px;')
            div(style='display:inline')
              | Margin of Error: &nbsp
              input#mea(name='me',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' value='0.95', ng-mouseleave="mainArea.cimean_changeSlider('me',$event);")
            div(style='display:inline')
              #meuia(uib-tooltip="Manipulate this bar to adjust Margin of Error" tooltip-placement="top")
          div(style='margin-top:20px;')
            div(style='display:inline')
              | n: &nbsp
              input#na(name='me',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' value='0.95', ng-mouseleave="mainArea.cimean_changeSlider('n',$event);")
            div(style='display:inline')
              #nuia(uib-tooltip="Manipulate this bar to adjust n" tooltip-placement="top")
          div
            input#cimeanH(style='margin-bottom:10px;' type='button' value='Show Help' ng-click='mainArea.cimean_show_help();')
            div(ng-show='mainArea.cimean_help == true;')
              p The confidence interval is of the form p +/- ME, where p is the sample proportion and ME is the margin of error: 
              p $ ME = t * s / \sqrt{n} $  &nbsp;&nbsp;&nbsp; (infinite population)
              p $ ME = t * s * \sqrt{\frac{\frac{1-n}{N}}{n}} $  &nbsp;&nbsp;&nbsp; (finite population)
              p where t is a critical value from the t distribution, s is the sample SD, n is the sample size, and N is the population size.
              br
              p <b>Using The Graphical Interface</b>
              p The dialog is designed such that a sample size n is computed whenever you change any of the other input values.  If you change n, a new ME is computed (using sigma in place of s in the above formulas).
              br
              p <b>Finite Population</b>
              p If "Finite population" is checked, calculations are based on the population size N entered in the adjacent input field. If the box is unchecked, the "N" field is hidden, and calculations are based on an infinite population.
              br 
              p <b>Confidence</b>
              p Choose the desired confidence coefficient for the ME.  This determines the value of t.
              br
              p <b>Margin of Error</b>
              p The dialog is designed such that a sample size n is computed whenever you change any of the other input values.  If you change n, a new ME is computed (using sigma in place of s in the above formulas).
              br
              p <b>n</b>
              p Enter the sample size here if you want to see what margin of error is achieved with that size sample.  When you change n, it is rounded to the nearest integer; otherwise, n is not rounded
              br
              p <b>Graphics</b>
              p A simple graphics facility is available from the Options menu.  Enter the variables for the x and y axes, and the range of values for the x variable.  More information is available through the graphics dialog's help menu.             
    div(ng-show='mainArea.selectedAlgorithm == "Test of One Proportion"')
      h3 Test of One Proportion
      p <i>This dialog provides for power analysis of a one-sample test of proportions. You have your choice of the normal approximation, the beta approximation (which is more accurate), or two exact calculations based on the binomial distribution.  In the latter cases, the size of the test (i.e., the probability of a type I error) is often much smaller than the stated significance level.</i>
      div(style='margin-top:20px;')
        div(style='display:inline')
          | Null Value (p0): &nbsp
          input#p0(name='p0',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.OnePGUI_changeSlider('p0',$event);")
        div(style='display:inline')
          #p0ui(uib-tooltip="Manipulate this bar to adjust Null Value" tooltip-placement="top")
      div(style='margin-top:20px;')
        div(style='display:inline')
          | Actual Value (p): &nbsp
          input#p(name='p',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.OnePGUI_changeSlider('p',$event);")
        div(style='display:inline')
          #pui(uib-tooltip="Manipulate this bar to adjust Actual Value" tooltip-placement="top")
      div(style='margin-top:20px;')
        div(style='display:inline')
          | Sample Size: &nbsp
          input#ssize(name='ssize',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.OnePGUI_changeSlider('ssize',$event);")
        div(style='display:inline')
          #ssizeui(uib-tooltip="Manipulate this bar to adjust Sample Size" tooltip-placement="top")
      div(style='margin-top:20px;')
        | Select Alternative: &nbsp
        select#altt(name='altt' style='border:0; background-color:white; color:#f6931f' ng-model="mainArea.OnePGUI_altt_value" ng-change="mainArea.OnePGUI_altt_submit('1','altt');")
          option(value='0') p < p0
          option(value='1') p != p0
          option(value='2') p > p0
      div(style='margin-top:20px;')
        | Select Method: &nbsp
        select#method(name='method' style='border:0; background-color:white; color:#f6931f' ng-model="mainArea.OnePGUI_method_value", ng-change="mainArea.OnePGUI_method_submit('1','method');")
          option(value='0') Exact
          option(value='1') Normal approx
          option(value='2') Beta approx
          option(value='3') Exact(Wald CV)
      div(style='margin-top:20px;')
        div(style='display:inline')
          | Alpha: &nbsp
          input#alpha(name='alpha',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' value='0.02', ng-mouseleave="mainArea.OnePGUI_changeSlider('alpha',$event);")
          div(style='display:inline')
            #alphaui(uib-tooltip="Manipulate this bar to adjust Alpha" tooltip-placement="top")
      div(style='margin-top:20px;')
        div(style='display:inline')
          | Power: &nbsp
          input#power(disabled name='power',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.OnePGUI_changeSlider('power',$event);")
        div(style='display:inline')
          #powerui(disableds uib-tooltip="You Cannot Manipulate This Bar" tooltip-placement="top")
      div
        input#OnePGUI_H(style='margin-bottom:10px;' type='button' value='Show Help' ng-click='mainArea.OnePGUI_show_help();')
        div(ng-show='mainArea.OnePGUI_help == true;')
          p Common notations: Suppose that X is a binomial random variable with "success" probability p and n independent trials, and let:
          p $ P = \frac{X}{n} $ 
          br
          p <b>Normal approximation:</b> 
          p We approximate distribution of P with N ($ mu=p $, $ sigma^2=p* \frac{1-p}{n} $). This has the same mean and variance as the true distribution of P. The critical region is obtained using this approximation with p=p0, then the power is computed using this approximation with p=p1.
          br
          p <b>Beta approximation: </b>
          p We approximate distribution of P with Beta( a=(n-1)*p, b=(n-1)*(1-p) ). This has the same mean and variance as the true distribution of P. The critical region is obtained using this approximation with p=p0, then the power is computed using this approximation with p=p1.
          br 
          p <b>Exact:</b>
          p In the exact test, the significance level alpha is taken as an upper bound on the size of the test (its power under the null hypothesis). Since X has a discrete distribution, the size cannot be controlled exactly and is often much lower than the specified alpha.
          br
          p For the alternative p &lt p0, let xl denote the largest x for which Pr($ X \leq x | p = p0 $) &lt= alpha. Then the power is equal to Pr($ X \leq xl | p = p1 $) and the size of the test is Pr($ X \leq xl | p = p0 $).
          br
          p For the alternative p > p0, let xu denote the smallest x for which Pr($ X \geq x | p = p0 $) &lt= alpha. Then the power is equal to Pr($ X \geq xu | p = p1 $). And the size of the test is Pr($ X \geq xu | p = p0 $).
          br
          p For the alternative p != p0, compute both powers as above but replace alpha by $ \frac{alpha}{2} $; then sum the powers and sizes.
          p <b>Exact (Wald CV):</b>
          p This is like the exact method, except the critical values are calculated based on an adjusted Wald statistic.  This does NOT guarantee that the size of the test is less than alpha.
          p Note: This is the exact method used in the JMP statistical software.
    div(ng-show='mainArea.selectedAlgorithm == "One-Sample (or Paired) t Test"')
      h3 One-Sample (or Paired) t Test
      p <i>This dialog provides for power analysis of a one-sample t test or a pooled t test.  The effect size is the difference between the null and the target mean (in the one-sample test), or the mean difference of the pairs (in the paired t test)</i>
      div(style='margin-top:20px;')
        div(style='display:inline')
          | Sigma: &nbsp
          input#sigmad(name='p0',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.OneTGUI_changeSlider('sigma',$event);")
        div(style='display:inline')
          #sigmauid(uib-tooltip="Manipulate this bar to adjust Sigma" tooltip-placement="top")
      div(style='margin-top:20px;')
        div(style='display:inline')
          | True|mu-mu_0|: &nbsp
          input#diffd(name='p0',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.OneTGUI_changeSlider('diff',$event);")
        div(style='display:inline')
          #diffuid(uib-tooltip="Manipulate this bar to adjust value" tooltip-placement="top")
      div(style='margin-top:20px;')
        div(style='display:inline')
          | n: &nbsp
          input#nd(name='p0',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.OneTGUI_changeSlider('n',$event);")
        div(style='display:inline')
          #nuid(uib-tooltip="Manipulate this bar to adjust n" tooltip-placement="top")
      div(style='margin-top:20px;')
        div(style='display:inline')
          | power: &nbsp
          input#powerd(name='p0',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.OneTGUI_changeSlider('power',$event);")
        div(style='display:inline')
          #poweruid(uib-tooltip="Manipulate this bar to adjust power" tooltip-placement="top")
      div(style='margin-top:20px;')
        | Solve for: &nbsp
        select#optd(name='altt' style='border:0; background-color:white; color:#f6931f' ng-model="mainArea.OneTGUI_optd" ng-change="mainArea.OneTGUI_optd_submit('1','opt');")
          option(value='0') n
          option(value='1') Effec Size
      div(style='margin-top:20px;')
        |Two-Tailed
        input#tt(type="checkbox" name="tt" ng-click="mainArea.OneTGUI_clk($event);")
      div(style='margin-top:20px;')
        div(style='display:inline')
          | Alpha: &nbsp
          input#alphad(name='alpha',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' value='0.02', ng-mouseleave="mainArea.OneTGUI_changeSlider('alpha',$event);")
        div(style='display:inline')
          #alphauid(uib-tooltip="Manipulate this bar to adjust Alpha" tooltip-placement="top")
      div
        input#OneTGUI_H(style='margin-bottom:10px;' type='button' value='Show Help' ng-click='mainArea.OneTGUI_show_help();')
        div(ng-show='mainArea.OneTGUI_help == true;')
          p You may choose whether to solve for effect size or sample size when you click on the "Power" slider.  The current values are scaled upward or downward to make the power come out right, while preserving (at least approximately) the ratio of the two SDs or two ns
    div(ng-show='mainArea.selectedAlgorithm == "Pilot Study"')
      h3 Pilot Study
      p <i>This dialog provides rudimentary help for planning a pilot study for estimating an error SD (sigma).  If the pilot study is too small, the estimate could be way too small, causing us to seriously underestimate the required sample size (N) for the main study</i>
      div(style='margin-top:20px;')
        div(style='display:inline')
          | Percent by which N is under-estimated: &nbsp
          input#pctUnder(name='p0',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.Pilot_changeSlider('pctUnder',$event);")
        div(style='display:inline')
          #pctUnderui(uib-tooltip="Manipulate this bar to adjust Percentage" tooltip-placement="top")
      div(style='margin-top:20px;')
        div(style='display:inline')
          | Risk of exceeding this percentage: &nbsp
          input#risk(name='p0',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.Pilot_changeSlider('risk',$event);")
        div(style='display:inline')
          #riskui(uib-tooltip="Manipulate this bar to adjust Risk" tooltip-placement="top")
      div(style='margin-top:20px;')
        div(style='display:inline')
          | d.f. for error in pilot studye: &nbsp
          input#df(name='p0',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.Pilot_changeSlider('df',$event);")
        div(style='display:inline')
          #dfui(uib-tooltip="Manipulate this bar to adjust Risk" tooltip-placement="top")
      div
        input#Pilot_H(style='margin-bottom:10px;' type='button' value='Show Help' ng-click='mainArea.Pilot_show_help();')
        div(ng-show='mainArea.Pilot_help == true;')
          p the criterion employed in this dialog is the risk of underestimating N by a specified percentage 100*P.  This is approximately equal to the risk of underestimating sigma (pretty much regardless of what criterion -- power, CI width, etc. -- is used for sample-size determination). In a normal setting, this risk is a simple calculation on the chi-square distribution: risk = Pr{Q < (1-P)nu}, where Q is chi-square with nu d.f.
          <br>
          p The dialog has three sliders -- for 100P, for risk, and for nu.  If you vary P or nu, the risk is recomuted based on the above formula.  If you vary risk, nu is recomputed. (If the solve method fails, simply set the d.f. so the risk is in the ballpark, and try again
    div(ng-show='mainArea.selectedAlgorithm == "R-square (multiple correlation)"')
      h3 R-square (multiple correlation)
      p <i>This dialog provides rudimentary power analysis for a test of a coefficient of multiple determination (R-square). The underlying model is that we have a sample of N IID multivariate random vectors of length p, and that the p^{th} variable is regressed on the first p-1 variables. $ R^2 = 1 - \frac{SS(error)}{SS(total)} $ is the coefficient of multiple determination.</i>
      div
        div#showN(style='margin-left=40%;display:inline')
          | Alpha: &nbsp
          input#alphaf(type='text',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' name='alphaf', ng-mouseleave='mainArea.RsquareGUI_valiad($event);')
      div(style='margin-top:20px;')
        div(style='display:inline')
          | True $rho^2$ value: &nbsp
          input#rho2f(name='rho2',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.RsquareGUI_changeSlider('rho2',$event);")
        div(style='display:inline')
          #rho2uif(uib-tooltip="Manipulate this bar to adjust $ rho^2 $ value" tooltip-placement="top")
      div(style='margin-top:20px;')
        div(style='display:inline')
          | Sample Size: &nbsp
          input#nf(name='n',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.RsquareGUI_changeSlider('n',$event);")
        div(style='display:inline')
          #nuif(uib-tooltip="Manipulate this bar to adjust sample size" tooltip-placement="top")
      div(style='margin-top:20px;')
        div(style='display:inline')
          | Number of Regressors: &nbsp
          input#nf(name='n',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.RsquareGUI_changeSlider('n',$event);")
        div(style='display:inline')
          #nuif(uib-tooltip="Manipulate this bar to adjust sample size" tooltip-placement="top")
      div(style='margin-top:20px;')
        div(style='display:inline')
          | power: &nbsp
          input#powerf(name='power',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;' ng-mouseleave="mainArea.RsquareGUI_changeSlider('power',$event);")
        div(style='display:inline')
          #poweruif(uib-tooltip="You cannot manipulate this bar" tooltip-placement="top")
      div
        input#RsuareGUI_H(style='margin-bottom:10px;' type='button' value='Show Help' ng-click='mainArea.RsquareGUI_show_help();')
        div(ng-show='mainArea.RsquareGUI_help == true;')
          p The usual way to test a hypothesis about R^2 is to transform it to an F statistic:
          <br>
          p The dialog has three sliders -- for 100P, for risk, and for nu.  If you vary P or nu, the risk is recomuted based on the above formula.  If you vary risk, nu is recomputed. (If the solve method fails, simply set the d.f. so the risk is in the ballpark, and try again




