div(ng-controller="powercalcSidebarCtrl as sidebar")
  form
    legend Parameters &nbsp;
      div.form-group
        fieldset
          label(
            style=''
            uib-tooltip="Choose an algorithm from the list below"
            tooltip-placement="left"
          ) Choose an algorithm from the list below &nbsp;
          select.form-control(
            style='margin-bottom:20px;'
            ng-model="sidebar.selectedAlgorithm"
            ng-options="method for method in sidebar.algorithms"
            ng-change="sidebar.updateAlgControls()"
          )

