div(ng-controller="powercalcSidebarCtrl as sidebar")
  form
    legend Parameters &nbsp;
      div.form-group
        fieldset
          label(
            style=''
          ) Choose an algorithm &nbsp;
          select.form-control(
            style='margin-bottom:20px;'
            ng-model="sidebar.selectedAlgorithm"
            ng-options="method for method in sidebar.algorithms"
            ng-change="sidebar.updateAlgControls()"
          )
        div.bootstrap-switch-square
          h7 Data-Driven Mode &nbsp;&nbsp;
          input(
            type="checkbox"
            data-toggle="switch"
            id="toggle_switch"
            ng-model="sidebar.deployed"
            ng-change="sidebar.change_mode()"
          )
        fieldset(ng-show="sidebar.selectedAlgorithm == 'Two-sample t test (general case)'")
          legend Data
          div.form-group(ng-show="sidebar.deployed")
            label Columns
            select.form-control(
            multiple
            ng-model="sidebar.chosenCols"
            ng-options="col for col in sidebar.categoricalCols"
            )
          div.form-group(ng-show="sidebar.deployed")
            label Labels &nbsp;
            //- show data header column names
            select.form-control(
              ng-model="sidebar.chosenLabel"
              ng-options="col for col in sidebar.labelCol"
              ng-change="sidebar.updateVar(sidebar.df)"
            )
          div.form-group(ng-show="sidebar.deployed")
            label Categories
            select.form-control(
            multiple
            ng-model="sidebar.chosenVars"
            ng-options="col for col in sidebar.vars"
            )
          div.form-group(ng-show="sidebar.deployed")
            button.btn.btn-primary(
            type="submit"
            ng-click="sidebar.run(sidebar.df)"
            ) Deploy
          div
            div(style='display:inline')
              h9 Significance Level: &nbsp
              input#TwoTGUI_alpha_v(type="text" name='TwoTGUI_alpha',style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;')
            div(style='display:inline')
              #TwoTGUI_alphaui(uib-tooltip="Manipulate this bar to adjust Alpha" tooltip-placement="top")