div(ng-controller="powercalcSidebarCtrl as sidebar")
  form
    legend Parameters &nbsp;
      div.form-group
        fieldset
          label(
            style=''
            uib-tooltip="Choose an algorithm from the list below"
            tooltip-placement="left"
          ) Choose an algorithm from the list below &nbsp;
          select.form-control(
            style='margin-bottom:20px;'
            ng-model="sidebar.selectedAlgorithm"
            ng-options="method for method in sidebar.algorithms"
            ng-change="sidebar.updateAlgControls()"
          )
        div.bootstrap-switch-square
          h4 Data-Driven Mode
          input(
            type="checkbox"
            data-toggle="switch"
            id="toggle_switch"
            ng-model="sidebar.deployed"
            ng-change="sidebar.change_mode"
          )
        fieldset(ng-show="sidebar.deployed")
          legend Dataset
          div(uib-tooltip="2D projection is always visualized")
            select.form-control(
            multiple
            ng-model="sidebar.chosenCols"
            ng-options="col for col in sidebar.categoricalCols"
            ng-change="sidebar.calculateN(sidebar.dataFrame)"
            )
          div.form-group.btn-group(
            role="group"
            area-label="Sidebar flow controls"
            uib-tooltip = "Choose at corresponding columns to start"
          )
            button.btn.btn-primary.btn-sm(
            ng-show="true"
            type="submit"
            aria-label="Run"
            ng-click="sidebar.drive_data()"
            ng-disabled="sidebar.chosenCols.length < 1")
              | Run&nbsp;
              span.glyphicon.glyphicon-refresh(aria-hidden="true", ng-class="running")
              span &nbsp;
