div(ng-controller="PowercalcSidebarCtrl as sidebar")
  form
    legend Parameters &nbsp;
      div.form-group
        fieldset
          label(
            uib-tooltip="Choose an algorithm from the list below"
            tooltip-placement="right"
          ) Algorithm &nbsp;
          select.form-control(
            ng-model="sidebar.selectedAlgorithm"
            ng-options="method for method in sidebar.algorithms"
            ng-change="sidebar.updateAlgControls()"
          )
          input.form-control(
            type="button"
            ng-change="sidebar.help()"
          )
          



