div(ng-controller="clusterSidebarCtrl as sidebar")
  form
    legend Parameters
    fieldset(ng-disabled="sidebar.clusterRunning")
    div.form-group
      fieldset
        label(
          uib-tooltip="Choose an algorithm from the list below"
          tooltip-placement="right"
        ) Algorithm &nbsp;
        select.form-control(
        ng-model="sidebar.selectedAlgorithm"
        ng-options="method for method in sidebar.algorithms"
        ng-change="sidebar.updateAlgControls()"
        )
        div.form-group(ng-show="sidebar.algParams.k")
          fieldset.form-inline
            label Number of clusters &nbsp;
            select.form-control(
            ng-model="sidebar.k"
            ng-options="k for k in sidebar.algParams.k"
            ng-init="sidebar.k = sidebar.algParams.k[0]"
            )
            button.btn.btn-info(
              type="submit"
              aria-label="Get k value"
              ng-click="sidebar.detectKValue()"
              ng-disabled="!sidebar.useLabels"
              uib-tooltip = "Use labels column to get number of clusters"
              tooltip-placement="right"
            )
              | Detect k
        div.checkbox(ng-hide="!sidebar.useLabels")
          label
            input(
            type="checkbox"
            ng-model="accuracyon"
            ng-disabled="sidebar.algParams.k !== sidebar.numUniqueLabels.num || sidebar.labelCol !== sidebar.numUniqueLabels.labelCol")
            | Compute accuracy
        div.form-group(ng-show="sidebar.algParams.distance")
          label Distance &nbsp;
          select.form-control(
            ng-model="sidebar.distance"
            ng-options="dist for dist in sidebar.algParams.distance"
            ng-init="sidebar.distance = sidebar.algParams.distance[0]"
          )
        hr
      fieldset(ng-show="sidebar.dataFrame")
        label Dataset &nbsp;
        div(uib-tooltip="2D projection is always visualized")
          label Cluster whole dataset &nbsp;
            input(
            type="checkbox"
            ng-model="sidebar.useAllData"
            )
        div.form-group
          fieldset
            label Labels column &nbsp;
              input(
                type="checkbox"
                ng-model="sidebar.useLabels"
              )
            //- show data header column names
            p
              select.form-control(
                ng-show="sidebar.useLabels"
                ng-model="sidebar.labelCol"
                ng-options="col for col in sidebar.cols"
              )
        div.form-group(ng-show="sidebar.xCol")
          label X column &nbsp;
          //- show data header column names
          select.form-control(
          ng-model="sidebar.xCol"
          ng-options="col for col in sidebar.cols"
          ng-change="sidebar.updateDataPoints()"
          )
        div.form-group(ng-show="sidebar.yCol")
          label Y column &nbsp;
          //- show data header column names
          select.form-control(
          ng-model="sidebar.yCol"
          ng-options="col for col in sidebar.cols"
          ng-change="sidebar.updateDataPoints()"
          )
      button.btn.btn-primary(
      ng-show="sidebar.dataFrame && sidebar.ready"
      type="submit"
      aria-label="Step"
      ng-click="sidebar.runClustering()"
      ng-disabled="sidebar.kmeanson")
        | Step&nbsp;
        span.glyphicon.glyphicon-refresh(aria-hidden="true", ng-class="running")
      span &nbsp;
      button.btn.btn-primary(
      ng-show="sidebar.dataFrame && sidebar.ready"
      type="submit"
      aria-label="Run"
      ng-click="sidebar.runClustering()"
      ng-disabled="sidebar.kmeanson")
        | Run&nbsp;
        span.glyphicon.glyphicon-refresh(aria-hidden="true", ng-class="running")
