div(ng-controller='GetDataMainCtrl as mainArea')

  form.socrData(uib-collapse="mainArea.showState.socrData")
    div(style="display:inline-flex")
      select.form-control.input-md(
        ng-model="mainArea.socrdataset",
        ng-options="item as item.name for item in mainArea.socrDatasets track by item.id")
      button.btn.btn-primary(ng-click="mainArea.getSocrDataset()") Load
      button.btn.btn-info(ng-click="mainArea.openSocrDescription()") Description &nbsp;
        span.fui-export

  div.worldBank(uib-collapse="mainArea.showState.worldBank")
    div(style="display:inline-flex")
      input(type="text",class="form-control input-md", placeholder="Rows", ng-model="mainArea.size")
      input(type="text",class="form-control input-md", placeholder="Start Year", ng-model="mainArea.startYear")
      input(type="text",class="form-control input-md", placeholder="End Year", ng-model="mainArea.endYear")
      select(style="height:36px", ng-model="mainArea.option")
          option(ng-repeat="dataset in mainArea.WBDatasets", value="{{dataset.key}}") {{ dataset.name }}
      button(style="margin-left:20px", ng-click="mainArea.getWBDataset()").btn.btn-primary Load


  div.generate(uib-collapse="mainArea.showState.generate")
    ul.nav.nav-pills.nav-stacked.disabled
      li
        a Binomial Coin Toss
      li
        a Ball and Urn
      li
        a Card Experiment
      li
        a Beta Binomial Experiment
      li
        a The Beta Distribution Experiment

  form.jsonUrl(uib-collapse="mainArea.showState.jsonParse")
    div.form-group(style="display:inline-flex")
      input(type="text",class="form-control input-lg", placeholder="URL", ng-model="mainArea.jsonURL.url")
      input(type="text",class="form-control input-lg", placeholder="JSON dataset array path", ng-model="mainArea.jsonURL.dataPath")
    button.btn.btn-primary(ng-click="mainArea.getJsonURLDataset()") Parse

  div.form-inline(ng-hide="!mainArea.largeData")
    br
    p.bg-info Dataset size might be too large for some tools, e.g. Data Wrangler.
      | Delays and screen freezes are possible. Consider deleting some columns or subsampling rows.
    div.form-group(uib-tooltip='Suggested value based on number of columns')
      label Random row subsampling &nbsp; &nbsp;
      input.form-control(type="text" placeholder="1000" ng-model='mainArea.maxRows')
      | &nbsp;
    button.btn.btn-primary.btn-sm(type="submit" ng-click="mainArea.subsampleData()") Subsample

  hr

  div.getdata-dragndrop(
    ng-class="{'vis-hidden': mainArea.dataType != mainArea.DATA_TYPES.FLAT}"
    getdatadragndrop=""
    file="mainArea.file"
    max-file-size="50"
  )
    p(style="text-align:center") 
      i *Copy-paste data or drag-and-drop CSV file.
    div.hot-scroll-container(ng-class="{'vis-hidden': mainArea.dataType != mainArea.DATA_TYPES.FLAT}")
      hot-table(
      purpose="json"
      settings="mainArea.tableSettings"
      col-headers="mainArea.colHeaders"
      datarows="mainArea.tableData"
      column-sorting="true"
      sort-indicator="true"
      manual-column-resize="true" 
      )
    table(style="width:calc(100% - 50px);overflow:auto;margin-left:50px")
      tr
        td(ng-repeat="(colName,data) in mainArea.colHistograms")
          colhistogram(col-name="{{colName}}") 
    table(style="width:calc(100% - 50px);overflow:auto;margin-left:50px")
      tr        
        td(ng-repeat="stat in mainArea.colStats",style="font-size:11px")
          span Type:{{ stat.type }}, Distinct:{{ stat.distinct }} 
          br
          span Mean:{{ mainArea.formatNumber(stat.mean) }}, SD:{{ mainArea.formatNumber(stat.stdev) }}
          br
          span Min:{{ mainArea.formatNumber(stat.min) }}, Max:{{ mainArea.formatNumber(stat.max) }}
          br
          span Median: {{ mainArea.formatNumber(stat.median) }}

  div.lead.bg-danger(ng-hide="mainArea.dataType != mainArea.DATA_TYPES.NESTED")
    | Visual representation of hierarchical data currently is not available.
