div(ng-controller="GetDataSidebarCtrl as sidebar")
  legend Inputs
  div.list-group
    
    a#getDataGrid.list-group-item(
      style="cursor:pointer",
      ng-repeat="option in sidebar.options",
      ng-click="sidebar.show(option.key)",
      ng-show="option.enabled",
      ng-class="sidebar.selected == option.key?'active':''")
      | {{option.label}}
